<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{sid}}: Neurodegeneration Heat Map</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="Penn Brain Science Center">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <div class="elem-image">
          <img src="{{png_file}}" id="responsive-image">
  </div>
  <h3 style="margin-top: 20px"><a href={{html_viewer}} Statistical Map Viewer</a></h3>
</body>
</html
